<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Teste Ominibees
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a routerLink="users">Usuários</a>
      <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">Meu LinkedIn</a>
      <a href="https://github.com/vitorpiovezam" target="_blank">Meu Github</a>
    </div>
  </div>