<h2>Usuários</h2>
<button [routerLink]="[ 'new' ]" class="btn bg-success"> + Adicionar novo usuário </button>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ i }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.cpf }}</td>
      <td>
          <button [routerLink]="[ 'edit', user._id ]" class="btn bg-success">Editar</button>
          <button (click)="deleteUser(user)" class="btn bg-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>